openapi: 3.0.3
info:
  title: Scoutbook/Scouting.org API
  description: 'Unofficial API documentation for the BSA Scoutbook/Scouting.org API.


    ## API Structure

    - **Authentication**: JWT bearer tokens via auth.scouting.org

    - **Discovery & Profile**: Person profiles, roles, toolkits, subscriptions, and relationships

    - **Unit Roster**: Youth, adult, parent rosters, subunits, key3, and org profile

    - **Training & Compliance**: YPT status, training records, and position training requirements

    - **Membership & Renewal**: Memberships, positions, registrations, renewals, recharter, and OLR

    - **Advancement Catalog**: Rank, merit badge, award, and adventure definitions and requirements

    - **Youth Progress**: Per-youth ranks, merit badges, awards, adventures, and leadership history

    - **Bulk Advancement**: Organization-wide advancement history and ready-to-award reports

    - **Events & Calendar**: Calendar entries, events, guests, and communications

    - **Activities**: Camping, hiking, service hour logs

    - **Organization Dashboards**: Advancement, renewal, activities, and roundtable dashboards

    - **Commissioners**: Commissioner assignments, roundtable, and unit health

    - **Lookups**: Reference data (states, positions, training courses, etc.)


    ## Common Patterns

    - Most endpoints require Bearer token authentication

    - GUIDs are used for person and organization identifiers

    - User IDs (numeric) are used for youth advancement endpoints


    ## API Versioning (v1 vs v2)

    Many endpoints exist in both v1 (no version in path) and v2 (with `/v2/` in path) versions:

    - **v2 endpoints are generally preferred** when available - they offer enhanced data and better structure

    - **v1 endpoints remain useful** for reference data (all ranks, all badges) or where v2 doesn''t exist

    - **Some v1 endpoints split into multiple v2 endpoints** (e.g., `/persons/{id}/trainings` → `/ypt` + `/positionTrainingRequirements`)

    - Each v1 endpoint description notes its v2 equivalent(s) where applicable

    '
  version: 1.0.0
servers:
- url: https://api.scouting.org
  description: Main API server
- url: https://auth.scouting.org
  description: Authentication server
security:
- bearerAuth: []
tags:
- name: Authentication
  description: User authentication and token management
- name: Discovery & Profile
  description: Person profiles, roles, toolkits, subscriptions, and relationships
- name: Unit Roster
  description: Unit youth, adult, parent rosters, subunits, key3, and org profile
- name: Training & Compliance
  description: YPT status, training records, and position training requirements
- name: Membership & Renewal
  description: Memberships, positions, registrations, renewals, recharter, and OLR dashboards
- name: Advancement Catalog
  description: Rank, merit badge, award, and adventure definitions and requirements
- name: Youth Progress
  description: Per-youth ranks, merit badges, awards, adventures, requirements, and leadership history
- name: Bulk Advancement
  description: Organization-wide advancement history and ready-to-award reports
- name: Events & Calendar
  description: Calendar entries, events, guests, and event communications
- name: Activities
  description: Activity logging for camping, hiking, and service hours
- name: Organization Dashboards
  description: Advancement, renewal, activities, and roundtable dashboards plus orders
- name: Commissioners
  description: Commissioner assignments, roundtable, and unit health
- name: Lookups
  description: Reference data for forms and validation
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /api/users/{username}/authenticate
  schemas:
    RegistrarInfo:
      type: object
      description: Registration details for a member
      properties:
        dateOfBirth:
          type: string
          format: date
        registrationId:
          type: integer
        registrationStatus:
          type: string
          enum:
          - New
          - Re-Registered
        registrationEffectiveDt:
          type: string
          format: date
        registrationExpireDt:
          type: string
          format: date
        renewalStatus:
          type: string
          enum:
          - Current
          - Eligible to Renew
          - Opted Out
          - Renewed
        isYearlyMembership:
          type: boolean
    OrganizationInfo:
      type: object
      description: Basic organization/unit information
      properties:
        organizationFullName:
          type: string
        organizationGuid:
          type: string
          format: uuid
        organizationName:
          type: string
        unitType:
          type: string
    ToolkitItem:
      type: object
      description: An organization the user has access to
      properties:
        context:
          type: string
        id:
          type: string
          format: uuid
        name:
          type: string
        orgType:
          type: string
          enum:
          - Units
          - Councils
    AssignedCommissioner:
      type: object
      description: A commissioner assigned to a unit
      properties:
        personGuid:
          type: string
          format: uuid
        memberId:
          type: integer
        personId:
          type: integer
        personfullName:
          type: string
        firstName:
          type: string
        middleName:
          type: string
        lastName:
          type: string
        nameSuffix:
          type: string
        positionId:
          type: integer
        position:
          type: string
          description: Commissioner position title (e.g., "District Commissioner", "Unit Commissioner")
    UnitCommissionersResponse:
      type: object
      description: Response containing unit info and assigned commissioners
      properties:
        organizationGuid:
          type: string
          format: uuid
        organizationType:
          type: string
          description: Unit type (e.g., "Troop", "Pack", "Crew")
        organizationNumber:
          type: string
        organizationCharterName:
          type: string
          description: Charter organization name
        assignedCommissioners:
          type: array
          items:
            $ref: '#/components/schemas/AssignedCommissioner'
    PersonsProfileResponse:
      type: object
      properties:
        profile:
          type: object
          properties:
            personGuid:
              type: string
              format: uuid
            memberId:
              type: string
            userId:
              type: integer
            firstName:
              type: string
            middleName:
              type: string
            lastName:
              type: string
            nameSuffix:
              type: string
            fullName:
              type: string
            nickName:
              type: string
            dateOfBirth:
              type: string
              format: date
            certificateName:
              type: string
            maidenName:
              type: string
            ineligibleFlag:
              type: boolean
            ineligibleDate:
              type: string
            isDeceased:
              type: boolean
            dateOfDeath:
              type: string
            gender:
              type: string
            title:
              type: string
            comments:
              type: string
            memberSinceDate:
              type: string
            isEagle:
              type: boolean
            isEagleExtension:
              type: boolean
            eagleId:
              type: string
              nullable: true
            eagleExtensionId:
              type: string
            eagleExtEffectiveDt:
              type: string
              nullable: true
            eagleExtExpiryDt:
              type: string
              nullable: true
            extensionTypeLookUpId:
              type: string
              nullable: true
            extensionTypeLookUpShort:
              type: string
              nullable: true
            extensionTypeLookUpName:
              type: string
              nullable: true
            pictureUrl:
              type: string
              format: uri
            employer:
              type: string
            occupation:
              type: string
            skOwnerBsaOrgId:
              type: integer
            ownerCouncilOrgGuid:
              type: string
              format: uuid
            isCbcAuthorized:
              type: boolean
            cbcAuthorizedDt:
              type: string
              format: date-time
            cbcCompleted:
              type: boolean
            isSuspended:
              type: boolean
            isUnalterable:
              type: boolean
            createdBy:
              type: string
            createdDt:
              type: string
              format: date-time
            lastModifiedBy:
              type: string
            lastModifiedDt:
              type: string
              format: date-time
            cbcDates:
              type: object
              properties:
                cbcId:
                  type: integer
                cbcEnteredDate:
                  type: string
                  format: date
                cbcSubmittedDate:
                  type: string
                  format: date
                cbcCompletedDate:
                  type: string
                  format: date
                cbcCompletedBy:
                  type: string
                  nullable: true
                cbcVendorId:
                  type: integer
                cbcVendor:
                  type: string
                createdBy:
                  type: string
                createdDt:
                  type: string
                  format: date-time
                lastModifiedBy:
                  type: string
                  nullable: true
                lastModifiedDt:
                  type: string
                  nullable: true
        handicapInfo:
          type: array
          items: {}
        extendedProfile:
          type: array
          items:
            type: object
            properties:
              attributeId:
                type: string
              extendedProfileId:
                type: string
              classification:
                type: string
              attributeVal:
                type: string
              lookupLong:
                type: string
              effectiveDt:
                type: string
                format: date
              expiryDt:
                type: string
                nullable: true
              createdBy:
                type: string
              createdDt:
                type: string
                format: date-time
              lastModifiedBy:
                type: string
              lastModifiedDt:
                type: string
                format: date-time
        hobbies:
          type: array
          items: {}
        addresses:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              typeId:
                type: string
              type:
                type: string
              address1:
                type: string
              address2:
                type: string
              address3:
                type: string
              city:
                type: string
              county:
                type: string
              zipCode:
                type: string
              zipCodeEx:
                type: string
              stateId:
                type: string
              state:
                type: string
              countryId:
                type: string
              country:
                type: string
              isPrimary:
                type: string
              effectiveDt:
                type: string
                nullable: true
              expiryDt:
                type: string
                nullable: true
              createdBy:
                type: string
              createdDt:
                type: string
                format: date-time
              lastModifiedBy:
                type: string
              lastModifiedDt:
                type: string
                format: date-time
        phones:
          type: array
          items:
            type: object
            properties:
              typeId:
                type: string
              type:
                type: string
              id:
                type: string
              countryId:
                type: integer
              country:
                type: string
              countryCode:
                type: string
              areaCode:
                type: string
              prefix:
                type: string
              lineNumber:
                type: string
              extension:
                type: string
              fullPhoneNumber:
                type: string
              isPrimary:
                type: string
              effectiveDt:
                type: string
                format: date
              expiryDt:
                type: string
                nullable: true
              createdBy:
                type: string
              createdDt:
                type: string
                format: date-time
              lastModifiedBy:
                type: string
              lastModifiedDt:
                type: string
                format: date-time
        emails:
          type: array
          items:
            type: object
            properties:
              typeId:
                type: string
              type:
                type: string
              email:
                type: string
              isPrimary:
                type: string
              id:
                type: string
              isUndeliverable:
                type: boolean
              effectiveDt:
                type: string
                format: date
              expiryDt:
                type: string
                nullable: true
              createdBy:
                type: string
              createdDt:
                type: string
                format: date-time
              lastModifiedBy:
                type: string
              lastModifiedDt:
                type: string
                format: date-time
        webContacts:
          type: array
          items: {}
        pictures:
          type: string
          format: uri
        organizationPositions:
          type: array
          items:
            type: object
            properties:
              organizationGuid:
                type: string
                format: uuid
              organizationName:
                type: string
              acceptGender:
                type: string
              subscriptionExpireDate:
                type: string
              inUnitSubscription:
                type: boolean
              unitType:
                type: string
              unitTypeId:
                type: string
              unitNumber:
                type: string
              unitName:
                type: string
              organizationType:
                type: string
              organizationTypeId:
                type: integer
              charterOrgName:
                type: string
              positions:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    dateStarted:
                      type: string
                    skPositionTypeCd:
                      type: string
                    expirationDate:
                      type: string
                      format: date
                    trainedDate:
                      type: string
                    trainedStatus:
                      type: string
                    isPrimary:
                      type: boolean
                    isKey3:
                      type: boolean
        education:
          type: array
          items: {}
    PersonsRoletypesResponse:
      type: array
      items:
        type: object
        properties:
          roleId:
            type: string
          role:
            type: string
          effectiveDate:
            type: string
            format: date
          expireDate:
            type: string
            format: date
          status:
            type: string
          organizationGuid:
            type: string
            format: uuid
          organizationName:
            type: string
          organizationNumber:
            type: string
          organizationTypeId:
            type: string
          organizationType:
            type: string
          councilStructureTypeId:
            type: string
          councilStructureTypeLong:
            type: string
          acceptGender:
            type: string
          programTypeId:
            type: string
          programType:
            type: string
          programId:
            type: string
          charterOrgName:
            type: string
          councilguid:
            type: string
            format: uuid
          roleTypes:
            type: array
            items:
              type: object
              properties:
                roleType:
                  type: string
    PersonsRenewalrelationshipsResponse:
      type: array
      items:
        type: object
        properties:
          relationshipTypeId:
            type: string
            nullable: true
          relationshipType:
            type: string
          memberId:
            type: integer
          personGuid:
            type: string
            format: uuid
          personId:
            type: integer
          firstName:
            type: string
          middleName:
            type: string
          lastName:
            type: string
          gradeId:
            type: string
            nullable: true
          gradeName:
            type: string
          organizationGuid:
            type: string
            format: uuid
          unitName:
            type: string
          charterName:
            type: string
          specialInterestTypeId:
            type: integer
          specialInterestType:
            type: string
          specialInterestTypeCode:
            type: string
          acceptGender:
            type: string
          councilPaid:
            type: boolean
          organizationExpiryDt:
            type: string
            format: date
          registrationId:
            type: integer
          personPositionId:
            type: integer
          personExpiryDt:
            type: string
            format: date
          positionId:
            type: integer
          positionName:
            type: string
          positionCode:
            type: string
          isAdvancePayReCharter:
            type: boolean
          isEligibleForRenew:
            type: boolean
          isYearlyMembership:
            type: boolean
          isYearlyMembershipRenewalPaid:
            type: boolean
          isManuallyEnded:
            type: boolean
          isAutoRenewalOptedOut:
            type: boolean
          isUnitLess:
            type: boolean
          orderId:
            type: string
            nullable: true
          orderStatusName:
            type: string
            nullable: true
    OrganizationsV2ProfileResponse:
      type: object
      properties:
        organizationGuid:
          type: string
          format: uuid
        id:
          type: integer
        nodeId:
          type: integer
        name:
          type: string
        number:
          type: string
        organizationFullName:
          type: string
        program:
          type: string
        sbOrganizationId:
          type: integer
        specialInterestTypeId:
          type: integer
        specialInterestTypeCode:
          type: string
        specialInterestType:
          type: string
        type:
          type: string
        typeId:
          type: integer
        organizationTypeId:
          type: integer
        organizationType:
          type: string
        councilStructureType:
          type: string
        tinyUrl:
          type: string
          format: uri
        isLDS:
          type: boolean
        isCouncilPaid:
          type: boolean
        tenure:
          type: integer
        unitedWayName:
          type: string
        affiliateOrganizationGuid:
          type: string
          nullable: true
        affiliateName:
          type: string
          nullable: true
        isComingSoon:
          type: boolean
        districtGuid:
          type: string
          format: uuid
        districtNumber:
          type: string
        districtName:
          type: string
        councilGuid:
          type: string
          format: uuid
        councilName:
          type: string
        territoryGuid:
          type: string
          format: uuid
        territoryName:
          type: string
        territoryNumber:
          type: string
        acceptGender:
          type: string
        unitTimeZoneCode:
          type: string
        unitTimeZoneLastUpdated:
          type: string
          format: date-time
        lat:
          type: number
        long:
          type: number
        isUnitGrowthExecutivesFlag:
          type: boolean
        charter:
          type: object
          properties:
            id:
              type: integer
            term:
              type: integer
            originalEffectiveDt:
              type: string
              nullable: true
            effectiveDate:
              type: string
              format: date
            expiryDate:
              type: string
              format: date
            communityOrganizationName:
              type: string
            organizationGUID:
              type: string
              format: uuid
            skCommOrgTypeCD:
              type: integer
            fkCommOrgTypeId:
              type: integer
            programId:
              type: integer
            programName:
              type: string
            isActive:
              type: boolean
            isCurrentCharter:
              type: boolean
        nonUnitOrgMembersExpireMonth:
          type: string
          nullable: true
        effectiveDt:
          type: string
          nullable: true
        expiryDt:
          type: string
          nullable: true
        webContact:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              contact:
                type: string
                format: uri
              typeId:
                type: integer
              type:
                type: string
              classificationId:
                type: integer
        key3:
          type: array
          items:
            type: object
            properties:
              positionId:
                type: integer
              position:
                type: string
              personFullName:
                type: string
              firstName:
                type: string
              lastName:
                type: string
              suffix:
                type: string
        executiveOfficer:
          type: object
          properties:
            personFullName:
              type: string
            firstName:
              type: string
            middleName:
              type: string
            lastName:
              type: string
            suffix:
              type: string
        primaryAddress:
          type: object
          properties:
            addressLine1:
              type: string
            addressLine2:
              type: string
            addressLine3:
              type: string
            city:
              type: string
            state:
              type: string
            zip5:
              type: string
            zip4:
              type: string
            country:
              type: string
            county:
              type: string
        primaryPhone:
          type: object
          properties:
            countryCode:
              type: string
              nullable: true
            areaCode:
              type: string
            prefix:
              type: string
            lineNumber:
              type: string
            extension:
              type: string
              nullable: true
        unitMeetingInformation:
          type: object
          properties:
            addressLine1:
              type: string
            addressLine2:
              type: string
            city:
              type: string
            zip5:
              type: string
            stateShort:
              type: string
            meetingLocation:
              type: string
            meetingTime:
              type: string
        advancementEligibility:
          type: object
          properties:
            adventures:
              type: boolean
            meritBadges:
              type: boolean
            ranks:
              type: boolean
            awards:
              type: boolean
        unitForums:
          type: array
          items:
            type: object
            properties:
              discourseCategoryId:
                type: integer
              discourseCategorySlug:
                type: string
    EventsCommunicationsOrganizationsResponse:
      type: object
      properties:
        events:
          type: array
          items:
            type: object
            properties:
              eventGuid:
                type: string
                format: uuid
              organizationGuid:
                type: string
                format: uuid
              organizationName:
                type: string
              acceptGender:
                type: string
              unitType:
                type: string
              unitTypeId:
                type: string
              unitNumber:
                type: string
              unitName:
                type: string
              organizationType:
                type: string
              organizationTypeId:
                type: integer
              charterOrgName:
                type: string
              updateableByCurrentUser:
                type: string
              communicationType:
                type: string
                nullable: true
              calendarEventName:
                type: string
              calendarEventTypeId:
                type: string
                nullable: true
              calendarEventLocation:
                type: string
              calendarEventType:
                type: string
              announcementMessage:
                type: string
              announcementTitle:
                type: string
              startDateTime:
                type: string
              endDateTime:
                type: string
              deleted:
                type: string
              createdDateTime:
                type: string
              createdBy:
                type: string
              createdByPersonGuid:
                type: string
                format: uuid
              createdByMemberId:
                type: string
              updatedDateTime:
                type: string
              updatedBy:
                type: string
              deletedDateTime:
                type: string
              deletedBy:
                type: string
              deletedByPersonGuid:
                type: string
              deletedByMemberId:
                type: string
    PersonsV2ToolkitsResponse:
      type: object
      properties:
        Masquerade:
          type: boolean
        MemAdmin:
          type: string
          nullable: true
        MemberId:
          type: integer
        SecurityToken:
          type: string
          nullable: true
        SysAdmin:
          type: boolean
        identifier:
          type: string
          nullable: true
        items:
          type: array
          items:
            type: object
            properties:
              context:
                type: string
              id:
                type: string
                format: uuid
              name:
                type: string
              orgType:
                type: string
        label:
          type: string
          nullable: true
    PersonsV2TrainingsYptResponse:
      type: object
      properties:
        firstName:
          type: string
        middleName:
          type: string
        lastName:
          type: string
        personFullName:
          type: string
        yptStatus:
          type: string
        yptCompletionDate:
          type: string
          format: date
        yptExpireDate:
          type: string
          format: date
        enrollmentId:
          type: integer
    PersonsV2ToolsResponse:
      type: object
      properties:
        identifier:
          type: string
          format: uuid
        items:
          type: array
          items:
            type: object
            properties:
              context:
                type: string
              description:
                type: string
              id:
                type: string
                format: uuid
              metaData:
                type: array
                items:
                  type: object
                  properties:
                    ToolType:
                      type: string
                    ToolName:
                      type: string
                    SiteURL:
                      type: string
              name:
                type: string
              uRL:
                type: string
        label:
          type: string
    OrganizationsOlrsettingsResponse:
      type: object
      properties:
        onlineRegOptIn:
          type: boolean
        onboardingUrl:
          type: string
        reassignAfter5DaysOptIn:
          type: boolean
        scoutExecEmailOptIn:
          type: boolean
        includeFeesOptIn:
          type: boolean
        fee:
          type: integer
        feeExplanation:
          type: string
        welcomeEmailOptIn:
          type: boolean
        welcomeEmailText:
          type: string
        councilSettings:
          type: object
          properties:
            paymentOptionUnitChoice:
              type: boolean
            creditCard:
              type: boolean
            cash:
              type: boolean
            check:
              type: boolean
            acceptAdultUnitChoice:
              type: boolean
            unitAcceptAdultApplication:
              type: boolean
            CORApprovalUnitAdultApplication:
              type: boolean
            CCApprovalUnitAdultApplication:
              type: boolean
        unitSettings:
          type: object
          properties:
            creditCard:
              type: boolean
            cash:
              type: boolean
            check:
              type: boolean
            unitAcceptAdultApplication:
              type: boolean
            CORApprovalUnitAdultApplication:
              type: boolean
            CCApprovalUnitAdultApplication:
              type: boolean
            AutoApproveUnitYouthApplications:
              type: boolean
            isUnitPayingForRenewal:
              type: boolean
            unitPaymentTypeId:
              type: string
              nullable: true
        unitCurrentTerm:
          type: integer
        unitNewTerm:
          type: integer
        effectiveDate:
          type: string
          format: date
        expireDate:
          type: string
          format: date
        councilAcceptGender:
          type: string
        stemProgram:
          type: string
        stemDiscountAmt:
          type: integer
    OrganizationsV2Key3Response:
      type: array
      items:
        type: object
        properties:
          organizationId:
            type: string
          organizationGuid:
            type: string
            format: uuid
          organizationNumber:
            type: string
          organizationName:
            type: string
          organizationKey3:
            type: object
            properties:
              positionId:
                type: string
              positionLong:
                type: string
              skPositionCd:
                type: string
              personGuid:
                type: string
                format: uuid
              memberId:
                type: integer
              firstName:
                type: string
              middleName:
                type: string
              lastName:
                type: string
              nameSuffix:
                type: string
          primaryEmailAddress:
            type: object
            properties:
              id:
                type: string
              typeId:
                type: string
              type:
                type: string
              emailAddress:
                type: string
          primaryPhone:
            type: object
            properties:
              id:
                type: string
              typeId:
                type: string
              type:
                type: string
              countryId:
                type: string
              country:
                type: string
              countryCode:
                type: string
              areaCode:
                type: string
              prefix:
                type: string
              lineNumber:
                type: string
              extension:
                type: string
    OrganizationsPositionsResponse:
      type: object
      properties:
        status:
          type: boolean
        orgType:
          type: string
        Positions:
          type: array
          items:
            type: object
            properties:
              positionLong:
                type: string
              PositionId:
                type: integer
              assigned:
                type: integer
              min:
                type: integer
              max:
                type: integer
              isFunctional:
                type: boolean
              isPaid:
                type: boolean
              isYouthPosition:
                type: boolean
              minAge:
                type: integer
              isKey3:
                type: boolean
              isCBCRequired:
                type: boolean
              personsAssigned:
                type: array
                items: {}
    PostOrganizationsV2OrgadultsResponse:
      type: object
      properties:
        organizationInfo:
          type: object
          properties:
            organizationFullName:
              type: string
            organizationGuid:
              type: string
              format: uuid
            organizationName:
              type: string
            organizationTypeId:
              type: string
            organizationType:
              type: string
            organizationNumber:
              type: string
            unitType:
              type: string
            unitTypeId:
              type: string
            charterOrgName:
              type: string
            acceptGender:
              type: string
            isComingSoonUnit:
              type: boolean
        members:
          type: array
          items:
            type: object
            properties:
              personGuid:
                type: string
                format: uuid
              memberId:
                type: string
              personFullName:
                type: string
              firstName:
                type: string
              middleName:
                type: string
              lastName:
                type: string
              nickName:
                type: string
              gender:
                type: string
              nameSuffix:
                type: string
              pictureUrl:
                type: string
                nullable: true
              ethnicity:
                type: string
              gradeId:
                type: string
                nullable: true
              position:
                type: string
              positionId:
                type: integer
              skPositionCd:
                type: string
              isFunctional:
                type: boolean
              key3:
                type: string
              positionTrained:
                type: string
              yptStatus:
                type: string
              yptCompletedDate:
                type: string
                format: date
              yptExpiredDate:
                type: string
                format: date
              programId:
                type: integer
              program:
                type: string
              registrarInfo:
                type: object
                properties:
                  dateOfBirth:
                    type: string
                    format: date
                  isAdvancePayRecharter:
                    type: boolean
                  registrationId:
                    type: integer
                  personPositionId:
                    type: integer
                  CBCRequired:
                    type: boolean
                  CBCCompleted:
                    type: boolean
                  lastCBC:
                    type: string
                    format: date
                  registrationStatusId:
                    type: integer
                  registrationStatus:
                    type: string
                  registrationEffectiveDt:
                    type: string
                    format: date
                  registrationExpireDt:
                    type: string
                    format: date
                  boysLifeSubscription:
                    type: boolean
                  isYearlyMembership:
                    type: boolean
                  isYearlyMembershipRenewalPaid:
                    type: boolean
                  isManuallyEnded:
                    type: boolean
                  isAutoRenewalOptedOut:
                    type: boolean
                  renewalOptOutReasonsId:
                    type: string
                    nullable: true
                  renewalOptOutReasonsName:
                    type: string
                    nullable: true
                  renewalStatus:
                    type: string
                  isUnitLess:
                    type: boolean
                  bsaOrderId:
                    type: string
                    nullable: true
    PostOrganizationsV2OrgyouthsResponse:
      type: object
      properties:
        organizationInfo:
          type: object
          properties:
            organizationFullName:
              type: string
            organizationGuid:
              type: string
              format: uuid
            organizationName:
              type: string
            organizationTypeId:
              type: string
            organizationType:
              type: string
            organizationNumber:
              type: string
            unitType:
              type: string
            unitTypeId:
              type: string
            charterOrgName:
              type: string
            acceptGender:
              type: string
            isComingSoonUnit:
              type: boolean
        members:
          type: array
          items:
            type: object
            properties:
              personGuid:
                type: string
                format: uuid
              memberId:
                type: string
              personFullName:
                type: string
              firstName:
                type: string
              middleName:
                type: string
              lastName:
                type: string
              nickName:
                type: string
              gender:
                type: string
              nameSuffix:
                type: string
              pictureUrl:
                type: string
                nullable: true
              ethnicity:
                type: string
              grade:
                type: integer
              gradeId:
                type: integer
              position:
                type: string
              positionId:
                type: integer
              skPositionCd:
                type: string
              isFunctional:
                type: boolean
              programId:
                type: integer
              program:
                type: string
              registrarInfo:
                type: object
                properties:
                  dateOfBirth:
                    type: string
                    format: date
                  isAdvancePayRecharter:
                    type: boolean
                  registrationId:
                    type: integer
                  personPositionId:
                    type: integer
                  registrationStatusId:
                    type: integer
                  registrationStatus:
                    type: string
                  registrationEffectiveDt:
                    type: string
                    format: date
                  registrationExpireDt:
                    type: string
                    format: date
                  boysLifeSubscription:
                    type: boolean
                  isYearlyMembership:
                    type: boolean
                  isYearlyMembershipRenewalPaid:
                    type: boolean
                  isManuallyEnded:
                    type: boolean
                  isAutoRenewalOptedOut:
                    type: boolean
                  renewalOptOutReasonsId:
                    type: string
                    nullable: true
                  renewalOptOutReasonsName:
                    type: string
                    nullable: true
                  renewalStatus:
                    type: string
                  isUnitLess:
                    type: boolean
                  bsaOrderId:
                    type: string
                    nullable: true
    OrganizationsV2OrdersResponse:
      type: object
      properties:
        organization:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            number:
              type: string
            type:
              type: string
            typeId:
              type: integer
            organizationTypeId:
              type: integer
            organizationType:
              type: string
            specialInterestTypeCode:
              type: string
            specialInterestType:
              type: string
            fullName:
              type: string
            feeTotal:
              type: number
            charter:
              type: object
              properties:
                id:
                  type: integer
                term:
                  type: integer
                effectiveDate:
                  type: string
                  format: date
                expiryDate:
                  type: string
                  format: date
                communityOrganizationName:
                  type: string
        renewals:
          type: array
          items:
            type: object
            properties:
              bsaOrderId:
                type: integer
              bsaOrderTypeId:
                type: integer
              bsaOrderType:
                type: string
              customerMemberId:
                type: integer
              customerFirstName:
                type: string
              customerMiddleName:
                type: string
              customerLastName:
                type: string
              forMemberId:
                type: string
                nullable: true
              forFirstName:
                type: string
                nullable: true
              forMiddleName:
                type: string
                nullable: true
              forLastName:
                type: string
                nullable: true
              renewalTypeId:
                type: string
                nullable: true
              renewalType:
                type: string
                nullable: true
              renewToOrgGuid:
                type: string
                format: uuid
              renewalCharterDt:
                type: string
                format: date
              renewToOrgName:
                type: string
              renewToOrgNumber:
                type: string
              renewToOrgTypeId:
                type: integer
              renewToOrgType:
                type: string
              specialInterestTypeId:
                type: integer
              specialInterestType:
                type: string
              communityOrganizationName:
                type: string
              councilGuid:
                type: string
                format: uuid
              councilName:
                type: string
              councilNumber:
                type: string
              saGuid:
                type: string
                nullable: true
              saName:
                type: string
                nullable: true
              saNumber:
                type: string
                nullable: true
              subCouncilGuid:
                type: string
                nullable: true
              subCouncilName:
                type: string
                nullable: true
              subCouncilNumber:
                type: string
                nullable: true
              districtGuid:
                type: string
                format: uuid
              districtName:
                type: string
              districtNumber:
                type: string
              subDistrictGuid:
                type: string
                nullable: true
              subDistrictName:
                type: string
                nullable: true
              subDistrictNumber:
                type: string
                nullable: true
              totalAmountDue:
                type: integer
              totalAmountPaid:
                type: integer
              nationalAmount:
                type: integer
              councilAmount:
                type: integer
              isPaid:
                type: boolean
              isAdvancePayReCharter:
                type: boolean
              createdBy:
                type: string
              createdDt:
                type: string
                format: date-time
              lastModifiedBy:
                type: string
              lastModifiedDt:
                type: string
                format: date-time
              bsaOrderStatusId:
                type: integer
              bsaOrderStatusName:
                type: string
              fkPersonPositionId:
                type: string
                nullable: true
              fkRegistrantStatusLookupId:
                type: string
                nullable: true
              fkRegistrantStatusLookupName:
                type: string
                nullable: true
              forFkCharterId:
                type: integer
              isParentBsaOrderApproved:
                type: boolean
              parentBsaOrderId:
                type: string
                nullable: true
              positionId:
                type: string
                nullable: true
              promoCode:
                type: string
                nullable: true
              promoDescription:
                type: string
                nullable: true
              promoId:
                type: string
                nullable: true
              unitBatchId:
                type: string
                nullable: true
              councilBatchId:
                type: string
                nullable: true
              isApproved:
                type: boolean
              approvedBy:
                type: string
              approvedDt:
                type: string
                format: date-time
    PostRegistrationsV2ValidateforrecharterResponse:
      type: array
      items:
        type: object
        properties:
          validationId:
            type: integer
          validationText:
            type: string
          validationFlag:
            type: boolean
          validationCategoryUnit:
            type: string
          validationCategoryCouncil:
            type: string
          validationDetails:
            type: array
            items:
              type: object
              properties:
                position:
                  type: string
                expected:
                  type: integer
                actual:
                  type: integer
    LookupsPersonGradesResponse:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
          gradeName:
            type: string
          displayOrder:
            type: integer
    LookupsPersonPositionsResponse:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          name:
            type: string
          short:
            type: string
          code:
            type: string
          typeCode:
            type: string
          key3:
            type: boolean
          plus3:
            type: boolean
          organizationTypeId:
            type: string
          organizationType:
            type: string
          packPosition:
            type: boolean
          troopPosition:
            type: boolean
          teamPosition:
            type: boolean
          crewPosition:
            type: boolean
          shipPosition:
            type: boolean
          explorerPosition:
            type: boolean
          stemPosition:
            type: boolean
          paidRegistrationRequired:
            type: boolean
          isAdult:
            type: boolean
          cbcRequired:
            type: boolean
          extendedAccessEligible:
            type: string
          directContact:
            type: boolean
          effectiveDate:
            type: string
            format: date
          expiryDate:
            type: string
            format: date
    CommissionersV2OrganizationsUnitshealthManualentryResponse:
      type: object
      properties:
        metrics:
          type: array
          items: {}
    CommissionersV2OrganizationsUnitshealthDetailsResponse:
      type: object
      properties:
        units:
          type: array
          items:
            type: object
            properties:
              organizationGuid:
                type: string
                format: uuid
              unitTypeId:
                type: integer
              unitName:
                type: string
              genderAccepted:
                type: string
              lastContact:
                type: string
              lastConnectionDate:
                type: string
              keyLeadersTrained:
                type: integer
              exceedSmallUnitThreshold:
                type: integer
              yoyMembershipGrowth:
                type: integer
              advancementsYouthLeadership:
                type: integer
              outdoorSuperActivity:
                type: integer
              youthRetained:
                type: integer
              youthRetainedEligible:
                type: integer
              youthRetentionPercentage:
                type: integer
              index:
                type: integer
              change:
                type: integer
    CommissionersV2OrganizationsUnitsAssignedcommissionersResponse:
      type: object
      properties:
        organizationGuid:
          type: string
          format: uuid
        organizationType:
          type: string
        organizationNumber:
          type: string
        organizationCharterName:
          type: string
        assignedCommissioners:
          type: array
          items:
            type: object
            properties:
              personGuid:
                type: string
                format: uuid
              memberId:
                type: integer
              personId:
                type: integer
              personfullName:
                type: string
              firstName:
                type: string
              middleName:
                type: string
              lastName:
                type: string
              nameSuffix:
                type: string
              positionId:
                type: integer
              position:
                type: string
    OrganizationsV2RenewaldashboardResponse:
      type: object
      properties:
        TotalUnits:
          type: integer
        AvailableForRenewal:
          type: integer
        RenewalsNotStarted:
          type: integer
        InProcessRenewals:
          type: integer
        Initiated:
          type: integer
        Locked:
          type: integer
        LockedPaid:
          type: integer
        LockedCorSigned:
          type: integer
        LockedNotPaidNotCorSigned:
          type: integer
        LockedNotPaidCorSigned:
          type: integer
        OnHold:
          type: integer
        Waiting:
          type: integer
        WaitingPaidNotCorSigned:
          type: integer
        WaitingNotPaidNotCorSigned:
          type: integer
        WaitingNotPaidCorSigned:
          type: integer
        SubmittedInternetRecharter:
          type: integer
        ManualCharterReceived:
          type: integer
        UnitsPendingPayment:
          type: integer
        UnitsReadyToPost:
          type: integer
        CompletedRenewals:
          type: integer
        PrePostedUnits:
          type: integer
        UnitsPosted:
          type: integer
    OrganizationsV2UnitrenewalstatusdashboardResponse:
      type: object
      properties:
        totalUnits:
          type: integer
        availableForRenewal:
          type: integer
        renewalsNotStarted:
          type: integer
        inProcessRenewals:
          type: integer
        initiated:
          type: integer
        paymentSubmited:
          type: integer
        pendingApproval:
          type: integer
        prePostedUnits:
          type: integer
        unitsPosted:
          type: integer
        unitsClosed:
          type: integer
    OrganizationsPinResponse:
      type: object
      properties:
        pinInformation:
          type: object
          properties:
            pinId:
              type: integer
            isPinActive:
              type: boolean
            isPinModeCouncil:
              type: boolean
            isFundRaisingUnit:
              type: string
              nullable: true
            unitAdditionalInformation:
              type: string
              nullable: true
            unitWebsite:
              type: string
              format: uri
            alternateUnitDescription:
              type: string
            unitAnnouncement:
              type: string
            meetingDay:
              type: string
              nullable: true
            meetingTime:
              type: string
              nullable: true
            meetingAddressLine1:
              type: string
            meetingAddressLine2:
              type: string
            meetingCity:
              type: string
            meetingState:
              type: string
            meetingZip:
              type: string
            latitude:
              type: number
            longitude:
              type: number
            isAcceptingOnlineRegistrations:
              type: boolean
            hasUnitFee:
              type: string
              nullable: true
            unitFee:
              type: string
              nullable: true
            unitFeeCurrency:
              type: string
              nullable: true
            unitFeeCoverage:
              type: string
              nullable: true
            showAlternateDescriptionOnPin:
              type: boolean
            showUnitAnnouncementOnPin:
              type: boolean
            showMeetingAddressOnPin:
              type: boolean
            showContactPersonOnPin:
              type: boolean
            showContactEmailOnPin:
              type: boolean
            showContactPhoneOnPin:
              type: boolean
            showCouncilEmailOnPin:
              type: boolean
            showCouncilPhoneOnPin:
              type: boolean
            showCouncilPictureOnPin:
              type: boolean
            showCouncilWebsiteOnPin:
              type: boolean
            lastModifiedBy:
              type: string
            lastModifiedDt:
              type: string
              format: date-time
            createdBy:
              type: string
            createdDt:
              type: string
              format: date-time
            contactPersons:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  personGuid:
                    type: string
                    format: uuid
                  firstName:
                    type: string
                  middleName:
                    type: string
                  lastName:
                    type: string
                  nameSuffix:
                    type: string
                  contactOrder:
                    type: integer
                  email:
                    type: string
                  phone:
                    type: string
        unitInformation:
          type: object
          properties:
            organizationGuid:
              type: string
              format: uuid
            organizationType:
              type: string
            name:
              type: string
            number:
              type: string
            type:
              type: string
            fullName:
              type: string
            territoryOrganizationGuid:
              type: string
              format: uuid
            territoryLong:
              type: string
            territoryNumber:
              type: string
            districtGuid:
              type: string
              format: uuid
            districtName:
              type: string
            districtNumber:
              type: string
            tinyUrl:
              type: string
              format: uri
            acceptGender:
              type: string
            councilAcceptGender:
              type: string
            specialInterestTypeId:
              type: integer
            specialInterestType:
              type: string
            specialInterestTypeCode:
              type: string
            isLDS:
              type: boolean
            isSTEM:
              type: boolean
            isComingSoon:
              type: boolean
            isCharterExpired:
              type: boolean
            isCharterLapsed:
              type: boolean
            charterInformation:
              type: object
              properties:
                charterId:
                  type: integer
                term:
                  type: integer
                communityOrganizationName:
                  type: string
                effectiveDt:
                  type: string
                  format: date
                expiryDt:
                  type: string
                  format: date
                fKCommOrgTypeId:
                  type: integer
            primaryAddress:
              type: object
              properties:
                addressLine1:
                  type: string
                addressLine2:
                  type: string
                addressLine3:
                  type: string
                city:
                  type: string
                state:
                  type: string
                zip4:
                  type: string
                zip5:
                  type: string
                country:
                  type: string
                county:
                  type: string
            primaryPhone:
              type: object
              properties:
                country:
                  type: string
                countryCode:
                  type: string
                areaCode:
                  type: string
                prefix:
                  type: string
                lineNumber:
                  type: string
                extension:
                  type: string
            primaryEmail:
              type: object
              properties:
                email:
                  type: string
        councilInformation:
          type: object
          properties:
            councilGuid:
              type: string
              format: uuid
            number:
              type: string
            organizationType:
              type: string
            name:
              type: string
            primaryAddress:
              type: object
              properties:
                addressLine1:
                  type: string
                addressLine2:
                  type: string
                addressLine3:
                  type: string
                city:
                  type: string
                state:
                  type: string
                zip4:
                  type: string
                zip5:
                  type: string
                country:
                  type: string
                county:
                  type: string
            primaryPhone:
              type: object
              properties:
                country:
                  type: string
                countryCode:
                  type: string
                areaCode:
                  type: string
                prefix:
                  type: string
                lineNumber:
                  type: string
                extension:
                  type: string
    OrganizationsV2YouthmembershipdashboardResponse:
      type: object
      properties:
        unitsIncreasedMembershipOverLY:
          type: integer
        unitsIncreasedMembership3MonthsAgo:
          type: integer
        retained:
          type: integer
        retainedEligible:
          type: integer
        retentionPercentage:
          type: integer
        YouthTotal:
          type: object
          properties:
            MembersType:
              type: string
            NewBoys:
              type: integer
            NewGirls:
              type: integer
            NewTotalThisYear:
              type: integer
            NewTotalLastYear:
              type: integer
            NewDifference:
              type: integer
            NewPercentage:
              type: integer
            NewChangeMarker:
              type: integer
            ActualBoys:
              type: integer
            ActualGirls:
              type: integer
            ActualTotalThisYear:
              type: integer
            ActualTotalLastYear:
              type: integer
            ActualDifference:
              type: integer
            ActualPercentage:
              type: number
            ActualChangeMarker:
              type: integer
            Age05:
              type: integer
            Age06:
              type: integer
            Age07:
              type: integer
            Age08:
              type: integer
            Age09:
              type: integer
            Age10:
              type: integer
            Age11:
              type: integer
            Age12:
              type: integer
            Age13:
              type: integer
            Age14:
              type: integer
            Age15:
              type: integer
            Age16:
              type: integer
            Age17:
              type: integer
            Age18:
              type: integer
            Age19:
              type: integer
        CubScoutsTotal:
          type: object
          properties:
            MembersType:
              type: string
            NewBoys:
              type: integer
            NewGirls:
              type: integer
            NewTotalThisYear:
              type: integer
            NewTotalLastYear:
              type: integer
            NewDifference:
              type: integer
            NewPercentage:
              type: integer
            NewChangeMarker:
              type: integer
            ActualBoys:
              type: integer
            ActualGirls:
              type: integer
            ActualTotalThisYear:
              type: integer
            ActualTotalLastYear:
              type: integer
            ActualDifference:
              type: integer
            ActualPercentage:
              type: integer
            ActualChangeMarker:
              type: integer
            Age05:
              type: integer
            Age06:
              type: integer
            Age07:
              type: integer
            Age08:
              type: integer
            Age09:
              type: integer
            Age10:
              type: integer
            Age11:
              type: integer
            Age12:
              type: integer
            Age13:
              type: integer
            Age14:
              type: integer
            Age15:
              type: integer
            Age16:
              type: integer
            Age17:
              type: integer
            Age18:
              type: integer
            Age19:
              type: integer
        ScoutsBSATotal:
          type: object
          properties:
            MembersType:
              type: string
            NewBoys:
              type: integer
            NewGirls:
              type: integer
            NewTotalThisYear:
              type: integer
            NewTotalLastYear:
              type: integer
            NewDifference:
              type: integer
            NewPercentage:
              type: integer
            NewChangeMarker:
              type: integer
            ActualBoys:
              type: integer
            ActualGirls:
              type: integer
            ActualTotalThisYear:
              type: integer
            ActualTotalLastYear:
              type: integer
            ActualDifference:
              type: integer
            ActualPercentage:
              type: number
            ActualChangeMarker:
              type: integer
            Age05:
              type: integer
            Age06:
              type: integer
            Age07:
              type: integer
            Age08:
              type: integer
            Age09:
              type: integer
            Age10:
              type: integer
            Age11:
              type: integer
            Age12:
              type: integer
            Age13:
              type: integer
            Age14:
              type: integer
            Age15:
              type: integer
            Age16:
              type: integer
            Age17:
              type: integer
            Age18:
              type: integer
            Age19:
              type: integer
        VenturingTotal:
          type: object
          properties:
            MembersType:
              type: string
            NewBoys:
              type: integer
            NewGirls:
              type: integer
            NewTotalThisYear:
              type: integer
            NewTotalLastYear:
              type: integer
            NewDifference:
              type: integer
            NewPercentage:
              type: integer
            NewChangeMarker:
              type: integer
            ActualBoys:
              type: integer
            ActualGirls:
              type: integer
            ActualTotalThisYear:
              type: integer
            ActualTotalLastYear:
              type: integer
            ActualDifference:
              type: integer
            ActualPercentage:
              type: integer
            ActualChangeMarker:
              type: integer
            Age05:
              type: integer
            Age06:
              type: integer
            Age07:
              type: integer
            Age08:
              type: integer
            Age09:
              type: integer
            Age10:
              type: integer
            Age11:
              type: integer
            Age12:
              type: integer
            Age13:
              type: integer
            Age14:
              type: integer
            Age15:
              type: integer
            Age16:
              type: integer
            Age17:
              type: integer
            Age18:
              type: integer
            Age19:
              type: integer
        SeaScoutsTotal:
          type: object
          properties:
            MembersType:
              type: string
            NewBoys:
              type: integer
            NewGirls:
              type: integer
            NewTotalThisYear:
              type: integer
            NewTotalLastYear:
              type: integer
            NewDifference:
              type: integer
            NewPercentage:
              type: integer
            NewChangeMarker:
              type: integer
            ActualBoys:
              type: integer
            ActualGirls:
              type: integer
            ActualTotalThisYear:
              type: integer
            ActualTotalLastYear:
              type: integer
            ActualDifference:
              type: integer
            ActualPercentage:
              type: integer
            ActualChangeMarker:
              type: integer
            Age05:
              type: integer
            Age06:
              type: integer
            Age07:
              type: integer
            Age08:
              type: integer
            Age09:
              type: integer
            Age10:
              type: integer
            Age11:
              type: integer
            Age12:
              type: integer
            Age13:
              type: integer
            Age14:
              type: integer
            Age15:
              type: integer
            Age16:
              type: integer
            Age17:
              type: integer
            Age18:
              type: integer
            Age19:
              type: integer
        ExploringTotal:
          type: object
          properties:
            MembersType:
              type: string
            NewBoys:
              type: integer
            NewGirls:
              type: integer
            NewTotalThisYear:
              type: integer
            NewTotalLastYear:
              type: integer
            NewDifference:
              type: integer
            NewPercentage:
              type: integer
            NewChangeMarker:
              type: integer
            ActualBoys:
              type: integer
            ActualGirls:
              type: integer
            ActualTotalThisYear:
              type: integer
            ActualTotalLastYear:
              type: integer
            ActualDifference:
              type: integer
            ActualPercentage:
              type: integer
            ActualChangeMarker:
              type: integer
            Age05:
              type: integer
            Age06:
              type: integer
            Age07:
              type: integer
            Age08:
              type: integer
            Age09:
              type: integer
            Age10:
              type: integer
            Age11:
              type: integer
            Age12:
              type: integer
            Age13:
              type: integer
            Age14:
              type: integer
            Age15:
              type: integer
            Age16:
              type: integer
            Age17:
              type: integer
            Age18:
              type: integer
            Age19:
              type: integer
        StemTotal:
          type: object
          properties:
            MembersType:
              type: string
            NewBoys:
              type: integer
            NewGirls:
              type: integer
            NewTotalThisYear:
              type: integer
            NewTotalLastYear:
              type: integer
            NewDifference:
              type: integer
            NewPercentage:
              type: integer
            NewChangeMarker:
              type: integer
            ActualBoys:
              type: integer
            ActualGirls:
              type: integer
            ActualTotalThisYear:
              type: integer
            ActualTotalLastYear:
              type: integer
            ActualDifference:
              type: integer
            ActualPercentage:
              type: integer
            ActualChangeMarker:
              type: integer
            Age05:
              type: integer
            Age06:
              type: integer
            Age07:
              type: integer
            Age08:
              type: integer
            Age09:
              type: integer
            Age10:
              type: integer
            Age11:
              type: integer
            Age12:
              type: integer
            Age13:
              type: integer
            Age14:
              type: integer
            Age15:
              type: integer
            Age16:
              type: integer
            Age17:
              type: integer
            Age18:
              type: integer
            Age19:
              type: integer
        LoneBSAScoutsTotal:
          type: object
          properties:
            MembersType:
              type: string
            NewBoys:
              type: integer
            NewGirls:
              type: integer
            NewTotalThisYear:
              type: integer
            NewTotalLastYear:
              type: integer
            NewDifference:
              type: integer
            NewPercentage:
              type: integer
            NewChangeMarker:
              type: integer
            ActualBoys:
              type: integer
            ActualGirls:
              type: integer
            ActualTotalThisYear:
              type: integer
            ActualTotalLastYear:
              type: integer
            ActualDifference:
              type: integer
            ActualPercentage:
              type: integer
            ActualChangeMarker:
              type: integer
            Age05:
              type: integer
            Age06:
              type: integer
            Age07:
              type: integer
            Age08:
              type: integer
            Age09:
              type: integer
            Age10:
              type: integer
            Age11:
              type: integer
            Age12:
              type: integer
            Age13:
              type: integer
            Age14:
              type: integer
            Age15:
              type: integer
            Age16:
              type: integer
            Age17:
              type: integer
            Age18:
              type: integer
            Age19:
              type: integer
    OrganizationsMembershipsummaryResponse:
      type: object
      properties:
        totalActiveAdults:
          type: integer
        totalActiveYouth:
          type: integer
    OrganizationsOrgtrainingsummaryResponse:
      type: object
      properties:
        trainedLeadersCount:
          type: integer
        notTrainedLeadersCount:
          type: integer
        yptCurrentCount:
          type: integer
        yptExpiredCount:
          type: integer
        yptNeverTakenCount:
          type: integer
        yptCurrentCount14:
          type: integer
        yptCurrentCount25:
          type: integer
        yptCurrentCount60:
          type: integer
        yptCurrentCount90:
          type: integer
        yptCurrentCount90plus:
          type: integer
        lastDataRefreshDate:
          type: string
          format: date-time
    OrganizationsV2UnitroundtableattendanceResponse:
      type: object
      properties:
        rtAttendanceJan:
          type: integer
        rtAttendanceFeb:
          type: integer
        rtAttendanceMar:
          type: integer
        rtAttendanceApr:
          type: integer
        rtAttendanceMay:
          type: integer
        rtAttendanceJun:
          type: integer
        rtAttendanceJul:
          type: integer
        rtAttendanceAug:
          type: integer
        rtAttendanceSep:
          type: integer
        rtAttendanceOct:
          type: integer
        rtAttendanceNov:
          type: integer
        rtAttendanceDec:
          type: integer
    CommissionersV2OrganizationsRoundtableResponse:
      type: object
      properties:
        organizationGuid:
          type: string
          format: uuid
        roundtables:
          type: array
          items:
            type: object
            properties:
              roundtableGuid:
                type: string
                format: uuid
              roundtableDate:
                type: string
                format: date-time
              createdDate:
                type: string
                format: date
              completedDate:
                type: string
                format: date
              lastUpdatedDate:
                type: string
                format: date
              lastUpdatedPersonGuid:
                type: string
              statusChangeDate:
                type: string
              isExportedToJTE:
                type: boolean
              personPositionId:
                type: string
                nullable: true
              status:
                type: string
              attendancePercentage:
                type: number
              commissionerPersonGuid:
                type: string
                format: uuid
              commissionerFullName:
                type: string
              firstName:
                type: string
              middleName:
                type: string
              lastName:
                type: string
              nameSuffix:
                type: string
              meetingAddress:
                type: object
                properties:
                  addressLine1:
                    type: string
                  addressLine2:
                    type: string
                  city:
                    type: string
                  state:
                    type: string
                  zip5:
                    type: string
                  zip4:
                    type: string
              virtualLocation:
                type: string
              programPack:
                type: boolean
              programTroop:
                type: boolean
              programTeam:
                type: boolean
              programCrew:
                type: boolean
              programShip:
                type: boolean
              programPost:
                type: boolean
              programClub:
                type: boolean
              programStem:
                type: boolean
    OrganizationsV2UnitadvancementdashboardResponse:
      type: object
      properties:
        DistrictName:
          type: string
        OrganizationName:
          type: string
        LionMTD:
          type: integer
        LionYTD:
          type: integer
        TigerMTD:
          type: integer
        TigerYTD:
          type: integer
        BobcatMTD:
          type: integer
        BobcatYTD:
          type: integer
        WolfMTD:
          type: integer
        WolfYTD:
          type: integer
        BearMTD:
          type: integer
        BearYTD:
          type: integer
        WebelosMTD:
          type: integer
        WebelosYTD:
          type: integer
        LightMTD:
          type: integer
        LightYTD:
          type: integer
        CubsRanksMTD:
          type: integer
        CubsRanksYTD:
          type: integer
        ScoutMTD:
          type: integer
        ScoutYTD:
          type: integer
        TenderfootMTD:
          type: integer
        TenderfootYTD:
          type: integer
        FirstClassMTD:
          type: integer
        FirstClassYTD:
          type: integer
        SecondClassMTD:
          type: integer
        SecondClassYTD:
          type: integer
        StarMTD:
          type: integer
        StarYTD:
          type: integer
        LifeMTD:
          type: integer
        LifeYTD:
          type: integer
        EagleMTD:
          type: integer
        EagleYTD:
          type: integer
        BSATotalMTD:
          type: integer
        BSATotalYTD:
          type: integer
        PalmsMTD:
          type: integer
        PalmsYTD:
          type: integer
        MeritBAdgesMTD:
          type: integer
        MeritBAdgesYTD:
          type: integer
        VenturingAwardMTD:
          type: integer
        VenturingAwardYTD:
          type: integer
        VenturingDiscoveryAwardMTD:
          type: integer
        VenturingDiscoveryAwardYTD:
          type: integer
        VenturingPathfinderAwardMTD:
          type: integer
        VenturingPathfinderAwardYTD:
          type: integer
        VenturingSummitAwardMTD:
          type: integer
        VenturingSummitAwardYTD:
          type: integer
        VenturingTotalMTD:
          type: integer
        VenturingTotalYTD:
          type: integer
        ApprenticeSeamanMTD:
          type: integer
        ApprenticeSeamanYTD:
          type: integer
        OrdinarySeamanMTD:
          type: integer
        OrdinarySeamanYTD:
          type: integer
        AbleSeamanMTD:
          type: integer
        AbleSeamanYTD:
          type: integer
        QuartermasterMTD:
          type: integer
        QuartermasterYTD:
          type: integer
        SeaRanksMTD:
          type: integer
        SeaRanksYTD:
          type: integer
    OrganizationsV2UnitactivitiesdashboardResponse:
      type: object
      properties:
        CampOuts:
          type: object
          properties:
            Campouts:
              type: integer
            CampoutsScoutParticipating:
              type: integer
            CampoutsTotalAttendance:
              type: integer
            NightsCamped:
              type: integer
            DaysCamped:
              type: integer
        ServiceProjects:
          type: object
          properties:
            ServiceProjects:
              type: integer
            ServiceProjectsScoutParticipating:
              type: integer
            ServiceProjectsTotalAttendance:
              type: integer
            ServiceHours:
              type: integer
            ConservationHours:
              type: integer
        Hikes:
          type: object
          properties:
            Hikes:
              type: integer
            HikesScoutParticipating:
              type: integer
            HikesTotalAttendance:
              type: integer
    OrganizationsV2OlrdashboardResponse:
      type: object
      properties:
        totalSubmittedApplicationPrevYear:
          type: integer
        totalSubmittedApplicationYTD:
          type: integer
        applicationByStatusYTD:
          type: object
          properties:
            totalAppsInPendingAcceptance:
              type: integer
            totalAppsInPendingReassignment:
              type: integer
            totalAppsInApplicantAgreement:
              type: integer
            totalAppsInApplicantResponse:
              type: integer
            totalAppsInPendingAcknowledgement:
              type: integer
            totalAppsInPendingPayment:
              type: integer
            totalAppsInPendingRefund:
              type: integer
            totalAppsInPendingReview:
              type: integer
            totalAppsCompleted:
              type: integer
            totalAppsClosed:
              type: integer
        applicationByStatus0To14days:
          type: object
          properties:
            totalAppsInPendingAcceptance:
              type: integer
            totalAppsInPendingReassignment:
              type: integer
            totalAppsInApplicantAgreement:
              type: integer
            totalAppsInApplicantResponse:
              type: integer
            totalAppsInPendingAcknowledgement:
              type: integer
            totalAppsInPendingPayment:
              type: integer
            totalAppsInPendingRefund:
              type: integer
            totalAppsInPendingReview:
              type: integer
            totalAppsCompleted:
              type: integer
            totalAppsClosed:
              type: integer
        applicationByStatus15To25days:
          type: object
          properties:
            totalAppsInPendingAcceptance:
              type: integer
            totalAppsInPendingReassignment:
              type: integer
            totalAppsInApplicantAgreement:
              type: integer
            totalAppsInApplicantResponse:
              type: integer
            totalAppsInPendingAcknowledgement:
              type: integer
            totalAppsInPendingPayment:
              type: integer
            totalAppsInPendingRefund:
              type: integer
            totalAppsInPendingReview:
              type: integer
            totalAppsCompleted:
              type: integer
            totalAppsClosed:
              type: integer
        applicationByStatus26To60days:
          type: object
          properties:
            totalAppsInPendingAcceptance:
              type: integer
            totalAppsInPendingReassignment:
              type: integer
            totalAppsInApplicantAgreement:
              type: integer
            totalAppsInApplicantResponse:
              type: integer
            totalAppsInPendingAcknowledgement:
              type: integer
            totalAppsInPendingPayment:
              type: integer
            totalAppsInPendingRefund:
              type: integer
            totalAppsInPendingReview:
              type: integer
            totalAppsCompleted:
              type: integer
            totalAppsClosed:
              type: integer
        applicationByStatusOver60days:
          type: object
          properties:
            totalAppsInPendingAcceptance:
              type: integer
            totalAppsInPendingReassignment:
              type: integer
            totalAppsInApplicantAgreement:
              type: integer
            totalAppsInApplicantResponse:
              type: integer
            totalAppsInPendingAcknowledgement:
              type: integer
            totalAppsInPendingPayment:
              type: integer
            totalAppsInPendingRefund:
              type: integer
            totalAppsInPendingReview:
              type: integer
            totalAppsCompleted:
              type: integer
            totalAppsClosed:
              type: integer
        applicationByStatusLast90days:
          type: object
          properties:
            totalAppsInPendingAcceptance:
              type: integer
            totalAppsInPendingReassignment:
              type: integer
            totalAppsInApplicantAgreement:
              type: integer
            totalAppsInApplicantResponse:
              type: integer
            totalAppsInPendingAcknowledgement:
              type: integer
            totalAppsInPendingPayment:
              type: integer
            totalAppsInPendingRefund:
              type: integer
            totalAppsInPendingReview:
              type: integer
            totalAppsCompleted:
              type: integer
            totalAppsClosed:
              type: integer
    LookupsRegistrationsApplicationstatusResponse:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
          applicationStatusCode:
            type: integer
          systemStatus:
            type: string
          applicantStatus:
            type: string
          applicationStatusDescription:
            type: string
          dashboardStatus:
            type: string
          waitingOnApplicant:
            type: boolean
          effectiveDt:
            type: string
            format: date
          expiryDt:
            type: string
          applicationNoteText:
            type: string
    OrganizationsV2RegistrationsResponse:
      type: object
      properties:
        totalNumberOfRecords:
          type: integer
        organization:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            number:
              type: string
            type:
              type: string
            typeId:
              type: integer
            organizationTypeId:
              type: integer
            organizationType:
              type: string
            specialInterestTypeCode:
              type: string
            specialInterestType:
              type: string
            fullName:
              type: string
            charter:
              type: object
              properties:
                id:
                  type: integer
                term:
                  type: integer
                effectiveDate:
                  type: string
                  format: date
                expiryDate:
                  type: string
                  format: date
                communityOrganizationName:
                  type: string
            councilGuid:
              type: string
              format: uuid
            councilName:
              type: string
            councilNumber:
              type: string
            territoryGuid:
              type: string
              format: uuid
            territoryNumber:
              type: integer
            territoryName:
              type: string
        registrations:
          type: string
          nullable: true
    OrganizationsV2OlrleadsdashboardResponse:
      type: object
      properties:
        startDate:
          type: string
          format: date
        finishDate:
          type: string
          format: date
        quantityTotal:
          type: integer
        quantity0To14:
          type: integer
        quantity15To25:
          type: integer
        quantity26To60:
          type: integer
        quantityOver60:
          type: integer
        quantityCompleted:
          type: integer
    OrganizationsV2LeaddashboardResponse:
      type: object
      properties:
        last30DaysSummary:
          type: object
          properties:
            newLeads:
              type: integer
            openedLeads:
              type: integer
            invitationSentLeads:
              type: integer
        last60DaysSummary:
          type: object
          properties:
            newLeads:
              type: integer
            openedLeads:
              type: integer
            invitationSentLeads:
              type: integer
        statusSummary:
          type: object
          properties:
            new:
              type: integer
            opened:
              type: integer
            pendingReassignment:
              type: integer
            invitationSent:
              type: integer
            closed:
              type: integer
            completed:
              type: integer
        leadsBySourceSummary:
          type: object
          properties:
            beAScout:
              type: integer
            joiningNight:
              type: integer
            individualLead:
              type: integer
            other:
              type: integer
    OrganizationsLeadsResponse:
      type: object
      properties:
        leads:
          type: array
          items: {}
        totalNumberOfLeads:
          type: integer
    LookupsPersonTitleprefixesResponse:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          name:
            type: string
          short:
            type: string
    LookupsPersonNamesuffixesResponse:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          name:
            type: string
          short:
            type: string
    LookupsPersonGendersResponse:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          name:
            type: string
          short:
            type: string
    LookupsAddressCountriesResponse:
      type: array
      items:
        type: object
        properties:
          name:
            type: string
          short:
            type: string
          id:
            type: string
    LookupsAddressStatesResponse:
      type: array
      items:
        type: object
        properties:
          name:
            type: string
          short:
            type: string
          id:
            type: string
    PersonsPositionsResponse:
      type: array
      items:
        type: object
        properties:
          PositionLong:
            type: string
          PKPositionId:
            type: integer
          PKPersonPositionId:
            type: integer
          EffectiveDt:
            type: string
            format: date-time
          ExpiryDt:
            type: string
            format: date-time
          Name:
            type: string
          OrgType:
            type: string
          OrganizationGuid:
            type: string
            format: uuid
          UnitType:
            type: string
          CommunityOrg:
            type: string
          acceptGender:
            type: string
          ParentOrg:
            type: string
          parentOrgType:
            type: string
          CouncilName:
            type: string
          IsPaidPosition:
            type: boolean
          IsKey3:
            type: boolean
          BLTerm:
            type: integer
          CBCRequired:
            type: boolean
          IsFunctional:
            type: boolean
          Positiontrained:
            type: boolean
          isAdvancePayReCharter:
            type: boolean
          specialInterestTypeId:
            type: integer
          specialInterestType:
            type: string
          specialInterestTypeCode:
            type: string
          isYearlyMembership:
            type: boolean
          isYearlyMembershipRenewalPaid:
            type: boolean
          isManuallyEnded:
            type: boolean
          isAutoRenewalOptedOut:
            type: boolean
          renewalOptOutReasonsId:
            type: string
            nullable: true
          renewalOptOutReasonsName:
            type: string
            nullable: true
          isUnitLess:
            type: boolean
    AdvancementsMeritbadgesResponse:
      type: object
      properties:
        meritBadges:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              categoryId:
                type: string
              category:
                type: string
              bsaNumber:
                type: string
              name:
                type: string
              shortName:
                type: string
              description:
                type: string
              image:
                type: string
              eagleRequired:
                type: string
              centennial:
                type: string
              dateCreated:
                type: string
              dateDiscontinued:
                type: string
              lastUpdated:
                type: string
                format: date
              adminNotes:
                type: string
              worksheetDOC:
                type: string
              worksheetPDF:
                type: string
                format: uri
              bsaPamphletNumber:
                type: string
              bsaPamphletEdition:
                type: string
              bsaPamphletImage:
                type: string
              bsaEmblemNumber:
                type: string
              bsaEmblemImage:
                type: string
              bsaRequirements:
                type: string
                format: uri
              pageURL:
                type: string
              searchKeywords:
                type: string
              sku:
                type: string
              price:
                type: string
              priceLastUpdated:
                type: string
                format: date
              imageUrl50:
                type: string
                format: uri
              imageUrl100:
                type: string
                format: uri
              imageUrl200:
                type: string
                format: uri
              versions:
                type: array
                items:
                  type: object
                  properties:
                    versionId:
                      type: string
                    version:
                      type: string
                    versionEffectiveDt:
                      type: string
                      format: date
                    versionExpiryDt:
                      type: string
                    expiredDate:
                      type: string
    AdvancementsMeritbadgesCounselorsProfileResponse:
      type: object
      properties:
        userId:
          type: string
        firstName:
          type: string
        middleName:
          type: string
        lastName:
          type: string
        nameSuffix:
          type: string
        assignedMeritBadges:
          type: array
          items:
            type: object
            properties:
              meritBadgeId:
                type: string
              name:
                type: string
              dateStarted:
                type: string
                nullable: true
              effectiveDt:
                type: string
                format: date
              expiryDt:
                type: string
                nullable: true
              createdBy:
                type: string
              createdDt:
                type: string
                format: date-time
              lastModifiedBy:
                type: string
                nullable: true
              lastModifiedDt:
                type: string
                nullable: true
        events:
          type: array
          items: {}
        organizations:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              name:
                type: string
              id:
                type: integer
        youths:
          type: array
          items:
            type: object
[...]
